*{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.nav-one{
    display: flex;
    gap: 20px;

}
.img-one{
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
    margin-top: 50px;
}
.text-one{
    font-size: 45px;
}
.span-one{
    color: #FF42A5;
}
ul{
    list-style:none;
}
.list-one{
    display: flex;
margin-top: 60px;
gap: 30px;
}
.nav{
    display: flex;
justify-content: space-around;
}
.yt{
    display: flex;
gap: 24px;
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
height:25px ;
padding:15px ;
text-align: center;
font-size: 18px;
margin:0px;

}
.youtube{

height: 40px;
position: relative;
bottom: 7px;
}
.tiktok{
    
    height: 38px;
   position: relative;
    bottom: 7px;
}
.yt{
    position: relative;
    bottom: 14px;

}

.goat{
    font-size: 95px;
    font-weight: 800;
color: #F948B2;

}
.play{
    font-size: 48px;
font-weight: 600;
}

.facility{
    font-size: 20px;
font-weight: 500;
color: #534C64;

}
.banner-text{
    background-image: url('../images/Group\ 14.png');
padding-left: 240px;
padding-bottom: 169px;
width: 100%;
background-repeat: no-repeat;
}
.banner-btn{
    padding-left: 40px;

}
.sign{
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
border: none;
color: white;
padding: 21px 40px;
background-repeat: no;
}
.rogue{
    border-radius: 48px;
background: #4EC5F7;
border: none;
color: white;
padding: 21px 40px;
}
.banner{
   display: grid;
   grid-template-columns: repeat(2,1fr);

}

.games-img{
    display: flex;
gap: 24px;
justify-content: center;

}
.games-section{
    margin-top: 120px;

}
.games-text{
    text-align: center;
}
.online-one{
    font-size: 48px;
    font-weight: 700;
}
.span-two{
color:#F948B2
}
.collection-one{
    font-size: 18px;
    font-weight: 400;
}
.span-three{
    color:#F948B2 ;
}
.instantly{
    font-size: 48px;
    font-weight: 700;
}
.instantly-descrip{
    font-size: 18px;
    font-weight: 400;
}
.all-content{
position: absolute;
margin-left: 16%;
margin-top: 336px;
}
.two-img{
margin-left: 50%;
    margin-top: 336px;
}
.img-two{
  margin-left: 70px;
    width: 600px;
display: flex;

}
.img-three{
    width: 318.5px;
height: 365.083px;
flex-shrink: 0;
position: relative;
bottom: 300px;
}
.last-one{
    display: flex;
gap:20px;
justify-content: center;
}
.footer{
    background: #0B0223;
height: 600px;
margin-top:100px ;
}
.img-last{
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
    margin-top: 50px;

}
.last-one{
padding: 50px;
}
.span-last{
    color: white;
}
.last-line{
    display: flex;
color:white;
justify-content: center;
gap:60px;
margin-top:50px;
}
.icons{
    display: flex;
    justify-content: center;
gap:40px ;
height: 30px;
margin-top:50px ;
}
.privacy{
    color: white;

}
.cookie{
    display: flex;
gap: 60px;
justify-content: center;
margin-top: 60px;
font-size: 12px;
font-weight:400 ;
}
.right{
    color: white;
}

.right{
display: flex;
justify-content: center;
margin-top: 50px;
margin-bottom: 30px;
font-size: 12px;
}
.btn{
background-color: white;
border: none;
border-radius: 50px;
display: grid;
grid-template-columns: repeat(2,1fr);
width: 150px;
box-shadow: 1px 3px lightgray;
}
.btn-text{
    padding-top:15px;

}
.first-part{
    display: flex;
justify-content: center;
gap: 50px;

}
.second-part{
    display: flex;
margin-top: 50px;
justify-content: center;
gap: 50px;
}
.all-btn{

  padding-bottom: 100px;
}
.btn:hover{
   color: #FF42A5;
border: 3px solid #F948B2;
}

@media screen  and (max-width:576px) {
    .nav{
        display: flex;
        flex-direction: column;
 justify-content: center;
    }
.list-one{
 display: flex;
 flex-direction: column;

}
.yt{
 margin-right:90px;

}
.banner{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.banner-text{
    padding-left: 0px;
}
.group-18{
    width: 100%;
}
.games-img{
 
    flex-direction: column;
}
.two-img{
  
position: relative;
bottom: 50%;
top: 800px;
right:300px;
width: 50%;
}
.footer{
    margin-top: 700px;


}
.last-line{
    display: grid;
    grid-template-columns: repeat(3,1fr);
font-size: 12px;
margin-right: 10px;
}
.cookie{
    display: grid;
    grid-template-columns: repeat(2,1fr);
font-size:10px;
margin-left: 24px;
}
.footer{
    height:750px;

}

}
